<html>
    <head>
        <link href="css/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-wrapper">
           <div class="top-bar">
            <div class="float-left">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="float-right">
                <ul>
                    <li>My Account &#9662;
                        <ul>
                            <li>Sign up</li>
                            <li>Sign in</li>
                        </ul>
                    </li>
                    <li>USD &#9662;</li>
                    <li>EN &#9662;</li>
                </ul>
            </div>
           </div>
           <div class="logo-search-bar">
            <div class="logo flex-container">
                <div class="multi">MULTI</div>
                <div class="shop">SHOP</div>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search for products"/>
                <i class="fa fa-search"></i>
            </div>
            <div class="customer-service-contact flex-column">
                <span>Customer service</span>
                <span><strong>+012&nbsp;345&nbsp;6789</strong></span>
            </div>
           </div>
           <nav>
            <div class="category-list" style="margin-left:50px;">
               <div class="categories-box">
                  <h3><i class="fa fa-bars"></i>Categories<span>&#9662;</span></h3>
                  <ul class="category-item-list">
                    <li>Category -1</li>
                    <li>Category -2</li>
                    <li>Category -3</li>
                    <li>Category -4</li>
                    <li>Category -5</li>
                    <li>Category -6</li>
                    <li>Category -7</li>
                    <li>Category -8</li>
                  </ul>
               </div>
            </div>
            <div class="navigation-menu">
                <ul>
                    <li class="active">Home</li>
                    <li>Shop</li>
                    <li>Shop Detail</li>
                    <li>Pages <i class="fa fa-angle-down angle-icon"></i>
                      <ul style="z-index:1;">
                        <li style="margin-top: 40px;">Shopping cart</li>
                        <li>Checkout</li>
                      </ul>
                    </li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="favourite-and-cart" style="margin-right:50px;">
                <i class="fas fa-heart"></i>
                <span>0</span>
                <i class="fas fa-shopping-cart" style="margin-left: 10px;"></i>
                <span>0</span>
            </div>
           </nav>
           <div class="banner">
            <div class="banner-left">
                <h1>Men Fashion</h1>
                <p>Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam
                </p>
                <button>Shop now</button>
            </div>
            <div class="banner-right">
                <div class="first">
                    <img src="https://themewagon.github.io/multishop/img/offer-1.jpg"/>
                    <h4>SAVE 20%</h4>
                    <h3>Special Offer</h3>
                    <button>Shop Now</button>
                </div>
                <div class="second">
                    <img src="https://themewagon.github.io/multishop/img/offer-2.jpg"/>
                    <h4>SAVE 20%</h4>
                    <h3>Special Offer</h3>
                    <button>Shop Now</button>
                </div>
            </div>
           </div>

           <div class="featured-product">
              <h1>FEATURED-PRODUCT ----------------------------------------------------</h1>
              <div class="row">
                <div class="box">
                    <img  src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                    <div  class="box-content">
                        <h3>Product name goes here</h3>
                        <h2>$123.00 <del>$123.00</del></h2>
                        <div class="rating">
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                        </div>
                    </div>
                    <div class="option">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="far fa-heart"></span>
                        <span class="fa fa-sync-alt "></span>
                        <span class="fa fa-search"></span>
                    </div>
                </div>
              </div> 
           </div>

           <div style="height:100px; border: 1px solid black;" ></div>
        </div>
       
    </body>
</html>