<html>
    <head>
        <link href="css/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-wrapper">
           <div class="top-bar">
            <div class="float-left">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="float-right">
                <ul>
                    <li>My Account &#9662;
                        <ul>
                            <li>Sign up</li>
                            <li>Sign in</li>
                        </ul>
                    </li>
                    <li>USD &#9662;</li>
                    <li>EN &#9662;</li>
                </ul>
            </div>
           </div>
           <div class="logo-search-bar">
            <div class="logo flex-container">
                <div class="multi">MULTI</div>
                <div class="shop">SHOP</div>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search for products"/>
                <i class="fa fa-search"></i>
            </div>
            <div class="customer-service-contact flex-column">
                <span>Customer service</span>
                <span><strong>+012&nbsp;345&nbsp;6789</strong></span>
            </div>
           </div>
           <nav>
            <div class="category-list" style="margin-left:50px;"></div>
            <div class="navigation-menu"></div>
            <div class="favourite-and-cart" style="margin-right:50px;"></div>
           </nav>
        </div>
    </body>
</html>