<html>
    <head>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-wrapper">
           <div class="top-bar">
            <div class="float-left">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="float-right">
                <ul>
                    <li>My Account &#9662;
                        <ul>
                            <li>Sign up</li>
                            <li>Sign in</li>
                        </ul>
                    </li>
                    <li>USD &#9662;</li>
                    <li>EN &#9662;</li>
                </ul>
            </div>
           </div>
        </div>
    </body>
</html>