<html>
    <head>
        <style>
            div{
                height: 500px;
                position: relative;
                background-color: black;
            }

            img{
                position: absolute;
                width: 100%;
                height: 500px;
                opacity: 0.5;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="https://themewagon.github.io/multishop/img/carousel-2.jpg"/>
        </div>
    </body>
</html>